.moods__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moods__link {
  text-decoration: none;
  height: 40px;
  width: 100%;
  background-color: #3E9BD1;
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moods__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.moods__item {
  margin: 5px;
}

.moods__item--happy {
  background-color: #FFCC00;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 0;
}

.moods__item--sad {
  background-color: #FF5335;
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 0;
}

.red {
  background-color: red;
}